#cookie_box
{ 
  /*position: fixed;
  display: none;*/
  bottom: 0px;
  font-size: 0.8em;
  z-index: 1000;
  background:#393939;
  padding:5px;
  text-align:center;
  width:99%;
  color:#ffffff;
}
  #cookie_box a:hover
  { 
    color:#ffffff;
    text-decoration: underline
  }